<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="container">
        <h1>Welcome to Blogify</h1>
        <p>
          blogify is a web application that allow you to create and publish
          blogs easily.
        </p>
        <p>Register for a free account to get started.</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis
          vero culpa labore quidem eaque dolor distinctio delectus similique
          asperiores ad a id impedit error cupiditate iure ipsa, veniam
          temporibus!
        </p>
      </div>
    </main>
  </body>
</html>
