<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="container">
        <p>welcome to</p>
        <h1><i class="fas fa-feather"></i> Blogify</h1>
        <p>
          blogify is a web application that allow you to create and publish
          blogs easily.
        </p>
        <p>Register for a free account to get started.</p>
      </div>
    </main>
  </body>
</html>
