<%- include('./partials/head.ejs') %>
  <body>
 <%- include('./partials/header.ejs') %>
    <main>
      <div class="container">
        <!-- profile picture -->
      <div class="profile-container">
       <div class="pp-container">
         <span class="filename"></span>
        <img src="/uploads/<%= user.profilePic %> " alt="" class="pp">
        <div class="edit-pp">
          <i class="fas fa-pen"></i>
        </div>
        <input type="file" name="file" id="file" style="display: none;">
       </div>
       <!-- profile details -->
       <div class="profile-details">
         <h1>User Profile</h1>
         <label for="username">Username</label>
         <input type="text" name="username" value="<%= user.username %> " disabled id="username">
         <h2>Change password</h2>
         <form>
           <input type="password" name="oldpw" id="oldpw" placeholder="Old password">
           <input type="password" name="newpw" id="newpw" placeholder="New password">
           <button class="update-btn">Update password</button>
         </form>
       </div>
      </div>
      </div>
    </main>
    <script>
      const form = document.querySelector('form');
      const fileInput = document.querySelector('#file');
      const pp = document.querySelector('.pp');
      const editPP = document.querySelector('.edit-pp');
      const fileName = document.querySelector('.filename');
      const username = document.querySelector('#username').value;

      // edit pp
      editPP.addEventListener('click', (e) => {
        fileInput.click()
      })

      // file input
      fileInput.addEventListener('change', async (e) => {
        // const nameSplit = fileInput.value.split('\\');
        // fileName.innerHTML = nameSplit[nameSplit.length - 1];
        
        // ...........................

        const data = new FormData();
        data.append('username', username);
        data.append('file', fileInput.files[0]);
        
        const res = await fetch('/pp', {
          method: 'POST',
          body: data
        });
        const resp = await res.json();
        console.log(resp);
        if(resp.message == 'wrong file format'){
          alert('Only images allowed')
        }
        if(resp.message == 'File too large'){
          alert('File is too large. Should not be more than 3MB')
        }
        if(resp.message == 'success'){
          // pp.setAttribute('src', `/uploads/${resp.filename}`)
          location.reload()
          // setTimeout(() => {
          //   alert('Profile pic updated successfully...')
          //   location.reload()
          // }, 1500);

        }
      })

    

    </script>
  </body>
</html>
