body {
  background-color: #1b1717;
}

.container {
  max-width: 70%;
  margin: 2rem auto;
}

.container h1 {
  color: white;
  border-left: 2px solid white;
  padding-left: 10px;
  margin-bottom: 1.5rem;
}

.container a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem 2rem;
  display: block;
}

.container a:hover {
  border: 2px dotted yellow;
}

.container a:hover h2 {
  color: yellow;
}

.blog p {
  line-height: 2em;
}
.blog h2 {
  margin-bottom: 1rem;
}

/* media query */
@media screen and (max-width: 700px) {
  .container {
    max-width: 85%;
  }
}
